#itemFeedbackBox{
	display: inline-block;
}

.icon{
	width: 30px;
}

.message{
	padding: 0px 10px;
	border-radius: 15px;
	background-color: #75AD49;
	color: white;
	box-shadow: 1px 1px 4px 2px #ccc;
}

#text{
	margin-top: 15px;
	padding-left: 10px;
}