.dropTargetContainer{
	background-color: #75AC4A;
	padding: 0px;
	bottom: 15vh;
	border-radius: 15px;
	height: 15vh;
	width: 15vh;
	min-height: 90px;
	min-width: 90px;
	max-height: 105px;
	max-width: 105px;
	position: fixed;
	box-shadow: 6px 6px 20px 1px rgba(0,0,0,0.75);
}

#dropTargetImage{
	height: 100px;
	margin-left: auto;
	margin-top: auto;
}

.highlighted .dropTargetContainer{
	transform: scale(1.15, 1.15);
	transition: all .2s ease;
}

.dropTar{
	position: absolute;
}