.editItemBody{
    position: relative;
    align-items: center;
    align-content: center;
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    border-radius: 15px;
}

.formInputs{
    margin-top: 15px;
    padding-bottom: 15px;
}

.title{
    text-align: center;
    padding-bottom: 0px;
	font-family: 'Open Sans', sans-serif;
}
.confirmButton{
	width: 8vw;
	height: 3vw;
	max-width: 100px;
	max-height: 40px;
	min-width: 50px;
	min-height: 40px;
	background-color: #75AC4A;
	border-radius: 15px;
	border-color: #75AC4A;
	margin-bottom: 10px;
	box-shadow: 1px 1px 2px 1px rgb(189, 189, 189);
}

.goBackButton{
    width: 8vw;
    height: 3vw;
    max-width: 100px;
    max-height: 40px;
    min-width: 50px;
    min-height: 40px;
    background-color: rgb(249, 145, 34);
    border-radius: 15px;
    border-color: rgb(249, 145, 34);
    margin-bottom: 10px;
	box-shadow: 1px 1px 2px 1px rgb(189, 189, 189);
}

.staticInfoContainer{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(249, 145, 34);
}

.staticText{
    color: rgb(109, 109, 109);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 9pt;
}

.confirmButton:hover{
	border-color: #308D40;
	background-color: #308D40;
}
.goBackButton:hover{
    border-color: red;
    background-color: red;
}


.inLabel{
	margin-top:20px;
}