.searchForm {
		text-align: center;
}

#searchInput{
	 border-radius: 5px;
}

.searchContainer{
	padding: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-color: #75AC4A;
	font-weight: 600;
	font-size: 12pt;
	border-width: 3px;
}