.searchBox{
	background-color: rgba(249, 145, 34, 0.4);
	border-radius: 15px;
}

.ApiSearchBtn{
	background-color: #75AC4A;
	border: none;
}

@media (min-width:801px) {
.ApiSearchBtn:hover{
	background-color: rgb(84, 126, 52);
}
}

